/.vercel/
/node_modules/
/Thumbs.db
/.DS_Store

# Local working materials kept outside the published site bundle
/WhatsApp Image 2024-11-08 at 16.26.59.jpeg
/WhatsApp Image 2026-06-27 at 17.11.25.jpeg
/WhatsApp Image 2026-06-27 at 17.11.26 (1).jpeg
/WhatsApp Image 2026-06-27 at 17.11.26 (2).jpeg
/WhatsApp Image 2026-06-27 at 17.11.26 (3).jpeg
/WhatsApp Image 2026-06-27 at 17.11.26 (4).jpeg
/WhatsApp Image 2026-06-27 at 17.11.26.jpeg
/WhatsApp Image 2026-06-27 at 17.11.27.jpeg
/WhatsApp Image 2026-06-27 at 17.11.27FFFF.jpeg
/WhatsApp Image 2026-06-27 at 17.11.28FFF.jpeg
/WhatsApp Image 2026-06-27 at 17.18.45FFF.jpeg
/WhatsApp Image 2026-06-27 at 17.18.46EEEEEE.jpeg
/WhatsApp Image 2026-06-27 at 17.18.46FFF.jpeg
/WhatsApp Image 2026-06-27 at 17.18.46FFFFFF.jpeg
/WhatsApp Image 2026-06-27 at 17.18.47QQQ.jpeg
/WhatsApp Video 2026-06-27 at 17.11.28FFFF.mp4
/WhatsApp Video 2026-06-27 at 18.30.29.mp4
/2 PLAQUETTE DE PRESENTATION GOUMALO 2f.pdf
/ALIMA-BROCHURE-MALI- (3) (1).pdf
/Extrait topo. nv  archidiocese.pdf
/RAPPORT DESCRIPTIF DE LA TOUR MIXTE A BADALABOUGOU (Rev3 (1) (AAA1).pdf

.vercel
.env*
admin-content*.json
admin-cookies*.txt
admin-login.json
vercel-dev.log
